| <a href="/users/<%= session[:user_id] %>">My Profile</a>

<div class="container">
  <h2>Secrets</h2>

  <% @secrets.each do |secret| %>
    <p><%= secret.content %></p>
    <%= secret.likes.length %> like(s)
    <!-- limit 1 like per user -->
    <% unless @secrets_liked_ids.include? secret.id %>
      | <form class="like_but" action="/likes/<%= secret.id %>" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="submit" value="Like">
      </form>
    <!-- unlike displays only for user that liked secret -->
    <% else %>
      | <form class="like_but" action="/likes/<%= secret.id %>" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Unlike">
      </form>
    <% end %>
    <!-- delete link only displayed for secret creator -->
    <% if secret.user.id == session[:user_id] %>
      | <a href="/secrets/<%= secret.id %>" data-method="delete">Delete</a>
    <% end %>
    <hr>
  <% end %>

</div>
